@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans';
}

body {
    margin: 0;
    padding: 0;
    background-color: #ececec;
}

.app .panel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app .panel-container .panel {
    /* width: 50%;
    float: left; */
}

.app .panel-container .products-panel {
    background-color: #ececec;

}

.app .panel-container .cart-panel {
    background-color: red;
}

.search-comp-wrapper {
    background-color: #a5a5a5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-comp-wrapper .search-wrapper {
    height: 2em;
    width: 50%;
    margin: 0.25em;
}

@media (max-width: 768px) {
    .search-comp-wrapper .search-wrapper {
        width: 65%;
    }
}
.search-comp-wrapper .cart-wrapper {

}