@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans';
}

body {
    margin: 0;
    padding: 0;
    background-color: #ececec;
}

.app .panel-container {
    
}

.app .panel-container .panel {
    /* width: 50%;
    float: left; */
}

.app .panel-container .products-panel {
    background-color: #ececec;
}

.app .panel-container .cart-panel {
    background-color: red;
}